@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-dark: #0a8a66;
  --green: #0ea47a;
  --green-clear: #3eb896;
  --shift: 48px;
}

body {
  background-color: #efefef;
  height: calc(100vh + var(--shift));
}

.btn {
  @apply transition-all py-2 uppercase rounded w-full mb-3 hover:translate-y-px hover:scale-105 shadow;
}

.btn__success {
  @apply hover:bg-green-700 bg-green-500;
}

.btn__disapprouved {
  @apply hover:bg-red-700 hover:border-none border-2 border-red-500;
}

.btn__delete {
  @apply hover:bg-red-700 bg-red-500;
}

@media screen and (max-height: 600px) {
  .infos {
    margin-bottom: 8vh;
  }

  .admin__page {
    width: 100vw;
    height: 100%;
  }
}
