<div class="shadow bg-white form w-full h-full sm:h-auto sm:py-4 flex items-center max-w-lg mx-auto">
  <form id="connect" class="w-full rounded px-8 mb-4 sm:mt-0 sm:h-auto">
    <p id="flash__message" class="text-center bg-red-400 p-2 mb-2 shadow rounded hidden">Username/Password invalid</p>
     <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email">
      <p class="invisible text-red-500 text-xs italic">Please choose a password.</p>
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Mot de passe
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
      <p class="invisible text-red-500 text-xs italic">Please choose a password.</p>
    </div>
    <div class="flex flex-wrap items-center justify-between">
      <button id="submit" class="w-full bg-green-500 mb-2 flex items-center justify-center hover:bg-green-700 active:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        {{> loader}}
        Se connecter
      </button>
      <a class="w-full align-baseline font-bold text-sm text-slate-500 hover:text-blue-800" href="/admin/auth/forget">
        Mot de passe oublié ?
      </a>
    </div>
  </form>