
  {{#if instructors}}
  <ul id="instructors__list" class="instructors {{classes}}"></ul>
    {{#each instructors}}
      {{> instructor classes="w-full mb-4 rounded shadow-xl" imgClasses="rounded-full h-16"}}
    {{/each}}
  </ul>
    {{else}}
  <p class="w-full text-center">Pas d'instructeurs</p>
  {{/if}}
