
  {{#if instructors}}
  <ul id="instructors__list" class="instructors {{classes}}"></ul>
    {{#each instructors}}
      {{> instructor classes="w-full mb-3 rounded" imgClasses="rounded-full h-20"}}
    {{/each}}
  </ul>
    {{else}}
  <p class="w-full text-center">Pas d'instructeurs</p>
  {{/if}}
