  <div class="flex flex-col justify-around items-end py-1">
        {{> approved}}
        <a href="/admin/instructors/{{instructor_id}}">
            {{> pen classes="cursor-pointer h-4"}}
        </a>
  </div>