<li class="flex justify-between w-full p-2 bg-gray-300 transform transition duration-200 hover:scale-110 {{classes}}">
  {{> image classes=imgClasses imgLink=photo imgAlt=imgAlt}}
  {{> fullname firstname=firstname lastname=lastname}}
  {{> infos classes="text-xs"}}
</li>