<li class="flex justify-between w-full p-2 bg-white {{classes}}">
  {{> image classes=imgClasses imgLink=photo imgAlt=imgAlt}}
  {{> fullname firstname=firstname lastname=lastname}}
  {{> infos }}
</li>