<div class="flex justify-between items-center w-full py-1 mt-4 mb-4-vh">
{{> inputText classes="focus:border-none text-center placeholder:text-gray-400 rounded-3xl border-2 border-gray-400 px-2 py-1 w-9/12 mr-2 leading-3" placeholder='Rechercher'}}
{{> lens classes="cursor-pointer h-5"}}
{{> filter-outlined classes="cursor-pointer h-5"}}
</div>
