<div class="fixed flex align-center bg-black-900 w-full py-2 xl:hidden">
      <div class="flex w-10/12 mx-auto">
            {{#if backArrow}}
                  {{> arrow-back}}
            {{/if}}
            <h1 class="w-full text-center text-gray-200 uppercase font-semibold">{{title}}</h1>
            {{> logout classes=icon}}
            <a class="cursor-pointer flex items-center" href="/admin/profile">
                  {{> user}}
            </a>
      </div>
</div>